from abc import ABC, abstractmethod

from domain.entities.job import Job


class JobRepository(ABC):
    @abstractmethod
    def add(self, job: Job) -> None:
        raise NotImplementedError

    @abstractmethod
    def list_pending(self) -> list[Job]:
        raise NotImplementedError