from functools import lru_cache

from application.use_cases.run_job_batch import RunJobBatchUseCase
from infrastructure.persistence.unit_of_work import InMemoryUnitOfWork


@lru_cache(maxsize=1)
def get_unit_of_work() -> InMemoryUnitOfWork:
    return InMemoryUnitOfWork()


def get_run_job_batch_use_case() -> RunJobBatchUseCase:
    return RunJobBatchUseCase(unit_of_work=get_unit_of_work())