from __future__ import annotations

from abc import ABC, abstractmethod

from domain.repositories.event_repository import EventRepository


class UnitOfWork(ABC):
    events: EventRepository

    @abstractmethod
    def __enter__(self) -> "UnitOfWork":
        raise NotImplementedError

    @abstractmethod
    def __exit__(self, exc_type: object, exc: object, tb: object) -> None:
        raise NotImplementedError

    @abstractmethod
    def commit(self) -> None:
        raise NotImplementedError

    @abstractmethod
    def rollback(self) -> None:
        raise NotImplementedError