from dataclasses import dataclass, field
from datetime import UTC, datetime
from uuid import UUID, uuid4


@dataclass(slots=True)
class {{ class_name }}:
    id: UUID = field(default_factory=uuid4)
    name: str = "{{ module_name.replace('_', ' ').title() }}"
    created_at: datetime = field(default_factory=lambda: datetime.now(UTC))