from abc import ABC, abstractmethod
from uuid import UUID

from domain.entities.{{ module_name }} import {{ class_name }}


class {{ class_name }}Repository(ABC):
    @abstractmethod
    def add(self, entity: {{ class_name }}) -> None:
        raise NotImplementedError

    @abstractmethod
    def get_by_id(self, entity_id: UUID) -> {{ class_name }} | None:
        raise NotImplementedError

    @abstractmethod
    def list(self) -> list[{{ class_name }}]:
        raise NotImplementedError