from domain.entities.job import Job
from domain.repositories.job_repository import JobRepository


class InMemoryJobRepository(JobRepository):
    def __init__(self, storage: list[Job]) -> None:
        self._storage = storage

    def add(self, job: Job) -> None:
        self._storage.append(job)

    def list_pending(self) -> list[Job]:
        return [job for job in self._storage if job.status == "pending"]